.gradle/4.4/fileHashes/fileHashes.bin
.gradle/4.4/fileHashes/fileHashes.lock
.gradle/4.4/fileHashes/resourceHashesCache.bin
.gradle/4.4/javaCompile/classAnalysis.bin
.gradle/4.4/javaCompile/jarAnalysis.bin
.gradle/4.4/javaCompile/javaCompile.lock
.gradle/4.4/javaCompile/taskHistory.bin
.gradle/4.4/javaCompile/taskJars.bin
.gradle/4.4/taskHistory/taskHistory.bin
.gradle/4.4/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/codeStyles/Project.xml
.idea/libraries/Gradle__com_android_support_animated_vector_drawable_25_3_1.xml
.idea/libraries/Gradle__com_android_support_appcompat_v7_25_3_1.xml
.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_0_2.xml
.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_solver_1_0_2_jar.xml
.idea/libraries/Gradle__com_android_support_recyclerview_v7_25_3_1.xml
.idea/libraries/Gradle__com_android_support_support_annotations_25_3_1_jar.xml
.idea/libraries/Gradle__com_android_support_support_compat_25_3_1.xml
.idea/libraries/Gradle__com_android_support_support_core_ui_25_3_1.xml
.idea/libraries/Gradle__com_android_support_support_core_utils_25_3_1.xml
.idea/libraries/Gradle__com_android_support_support_fragment_25_3_1.xml
.idea/libraries/Gradle__com_android_support_support_media_compat_25_3_1.xml
.idea/libraries/Gradle__com_android_support_support_v4_25_3_1.xml
.idea/libraries/Gradle__com_android_support_support_vector_drawable_25_3_1.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_core_2_2_2.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_idling_resource_2_2_2.xml
.idea/libraries/Gradle__com_android_support_test_exposed_instrumentation_api_publish_0_5.xml
.idea/libraries/Gradle__com_android_support_test_rules_0_5.xml
.idea/libraries/Gradle__com_android_support_test_runner_0_5.xml
.idea/libraries/Gradle__com_google_android_android_2_3_1_jar.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_7_jar.xml
.idea/libraries/Gradle__com_spotify_sdk_spotify_android_auth_1_0_0__aar.xml
.idea/libraries/Gradle__com_spotify_sdk_spotify_player_24_noconnect_2_20b__aar.xml
.idea/libraries/Gradle__com_squareup_javawriter_2_1_1_jar.xml
.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_8_0_jar.xml
.idea/libraries/Gradle__com_squareup_okio_okio_1_13_0_jar.xml
.idea/libraries/Gradle__com_squareup_retrofit2_converter_gson_2_3_0_jar.xml
.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_3_0_jar.xml
.idea/libraries/Gradle__commons_codec_commons_codec_1_3_jar.xml
.idea/libraries/Gradle__commons_logging_commons_logging_1_1_1_jar.xml
.idea/libraries/Gradle__javax_annotation_javax_annotation_api_1_2_jar.xml
.idea/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
.idea/libraries/Gradle__junit_junit_4_12_jar.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_0_1_jar.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_0_1_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar.xml
.idea/libraries/Gradle__org_jetbrains_anko_anko_appcompat_v7_commons_0_10_0_jar.xml
.idea/libraries/Gradle__org_jetbrains_anko_anko_appcompat_v7_coroutines_0_10_0_jar.xml
.idea/libraries/Gradle__org_jetbrains_anko_anko_common_0_10_0_jar.xml
.idea/libraries/Gradle__org_jetbrains_anko_anko_commons_0_10_0_jar.xml
.idea/libraries/Gradle__org_jetbrains_anko_anko_design_0_10_0_jar.xml
.idea/libraries/Gradle__org_jetbrains_anko_anko_sdk25_coroutines_0_10_0_jar.xml
.idea/libraries/Gradle__org_jetbrains_anko_anko_support_v4_commons_0_10_0_jar.xml
.idea/libraries/Gradle__org_jetbrains_annotations_13_0_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_2_30_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_2_30_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jre7_1_2_30_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_0_13_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_0_13_jar.xml
.idea/libraries/Gradle__org_json_json_20080701_jar.xml
.idea/libraries/Gradle__org_khronos_opengl_api_gl1_1_android_2_1_r1_jar.xml
.idea/libraries/Gradle__xerces_xmlParserAPIs_2_6_2_jar.xml
.idea/libraries/Gradle__xpp3_xpp3_1_1_4c_jar.xml
app/src/main/java/com/example/garethbizley/spotifyalarm/system/AlarmIntentManager.kt
build/kotlin-build/version.txt
